server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/employe_management
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

#jwt:
#  secret: my-secret-key-my-secret-key-my-secret-key
#  expiration: 3600000
